body{
  flex-wrap: nowrap;
  background-color:#FFD700 ;
}
.header {
    width: 100%;
    height: auto;

}

a {
    margin-top: 20px;
    margin-right: 75px;
    display: flex;
    float: right;
    justify-content: right;
    height: auto;
    color:#630C18;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    font-size: 25px;

}

.logo {
    margin-top: 20px;
    
    display: flex;
    float: left;
    max-width: 50%;
    font-family: "Sofadi One", system-ui;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #630C18;
   
}


#box1,
#box2,
#box3,#box4 {
    width: 250px;
    height: 500px;
    margin: 25px;
    
    
    
}

#box1 {
    display: flex;
    float: left;
    margin-left: 150px;

}

#box1:hover {}

#box2 {
    display: flex;
    float: left;
    margin-left: 50px;
    

}

#box2:hover {}

#box3 {
    display: flex;
    float: left;
    margin-left: 50px;
}

#box3:hover {}
#box4 {
    display: flex;
    float: left;
    margin-left: 50px;

}

#box4:hover {}

.heading {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    margin: 25px;
    max-width: 60%;
    color: #630C18;

}

.heading:hover {
    color: #630C18;
    text-shadow: 5px 5px #01FB92 ;
}
img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    
    
}
img:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px #021F64;
}
.firsthr{
    margin-top: 600px;

}
.enquirytab {
    margin-left: auto;
    margin-right: auto;
    background-color:#630C18;
    border-radius: 30px;
   
    justify-content: center;
    color:#FFD700;
    padding: 10px;
    font-weight: bolder;
    margin-top: 50px;
    


}
.enquirytab:hover{
     box-shadow: 10px 10px 20px black;
}

button {
    background-color: rgb(28, 31, 108);
    color:#FFD700;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    
}

.div1{
    border-radius: 10px;

}
.about12{
    background-color:transparent;
    color: black;
}
#Bookusnow{
    
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #630C18 ;
    color: #FFD700;
    
}
#call{
    text-align: right;
    
    position: absolute;
    right: 300px;
    top:860px
}
#Bookusnow:hover{
     box-shadow: 10px 10px 20px black;
     
}

hr{
    border-color: black;
}
